ALPHA_VANTAGE_API_KEY="your_alpha_vantage_api_key"
IBKR_FLEX_TOKEN="your_ibkr_flex_token"
IBKR_PERFORMANCE_REPORT_ID="your_ibkr_performance_report_id"
DEFAULT_PROD_ACCOUNT_ID="your_prod_account_id"
DEFAULT_DEV_ACCOUNT_ID="your_dev_or_paper_account_id"
